<form>
<label>Genre: </label> 
<select name="genre" id="genre">
<option value=35>Comedy</option> 
<option value=80>Crime<option>
<option value=10749>Romance</option>    
</select>


<label>Ratings: </label> 
<select name="rating" id="rating" placeholder="Any">
<option value=4>4 stars and above</option> 
<option value=7>7 stars and above<option>
<option value=9>9 stars and above</option>
</select>


    <label>Length: </label> 
    <select name="runtime" id="runtime" placeholder="Any">
    <option value=4>1.5 hours or less</option> 
    <option value=7>2.0 hours or less</option>
    <option value=9>2.5 hours or less</option>
    </select>

    <button class="submit" type="submit" >Add</button>


</form>