.add {
    float: right;
    color: rgb(182, 59, 85);
    font-weight: 900;
    margin-right: 30px;
}

.listing {
    margin: 60px;
    color: #ffebcd;
}

.select {
    background-color: wheat;
    color:  #004242;
    size: 15px;
    border-radius: 4px;
}

.red {
    background-color: red;
    color: wheat;
    font-weight: 900;
}

.white {
    background-color: wheat;
}

@media only screen and (min-width: 768px) {
    .listing {
      margin-left: 90px;
      padding: 0;
      border: none;
      font-family: Futura, Arial, sans-serif;
    }

    .add {
        float: right;
        color: rgb(182, 59, 85);
        font-weight: 900;
        margin-right: 60px;
    }

    .red {
        background-color: red;
        color: wheat;
        font-weight: 900;
    }
}