.add {
    float: right;
}

.listing {
    margin: 20px;
    color: #ffebcd;
}

.select {
    background-color: wheat;
    color:  #004242;
    size: 15px;
    border-radius: 4px;
}

.red {
    background-color: red;
}

.white {
    background-color: white;
}

@media only screen and (min-width: 768px) {
    .listing {
      margin-left: 40px;
      padding: 0;
      border: none;
      font-family: Futura, Arial, sans-serif;
    }
}